main {
  height: 90vh;
}
nav {
  border: 2px solid #fff569;
  width: 64px;
  height: 64px;
}
.roundedBorder {
  display: inline-block;
  border: 3px solid #bd181d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.logo {
  object-fit: cover;
  height: 100%;  
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-danger {
  background-color: #bd181d !important;
  border: 3px solid #fff781 !important;
}
.btn-danger:hover {
  background-color: #aa181d !important;
  border: 3px solid #fff569 !important;
}
.endpointButton {
    width: 46%;
}
.endpoints {
  display: none;
}
.display {
  display: block;
}
.close{
  cursor: pointer;;
}
@media only screen and (max-width: 768px) {
    .endpointButton {
      width: 100%;;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bd181d;
    border: 1px solid #fff781;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aa181d;
  }