main {
  height: 90vh;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-danger {
  background-color: #bd181d !important;
  border: none !important;
}
.btn-danger:hover {
  background-color: #aa181d !important;
}
.endpointButton {
    width: 46%;
}
.endpoints {
  display: none;
}
.display {
  display: block;
}
.close{
  cursor: pointer;;
}
@media only screen and (max-width: 768px) {
    .endpointButton {
      width: 100%;;
    }
  }